name: C.E.N.T.I.N.E.L. Data Fetcher
on:
  schedule:
    - cron: '*/15 * * * *' # Corre cada 15 minutos
  workflow_dispatch: # Permite correrlo manual

jobs:
  build:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install deps
        run: pip install -r requirements.txt
      - name: Run collector
        run: python -m scripts.download_and_hash
      - name: Commit data
        run: |
          git config --global user.name 'Sentinel-Bot'
          git config --global user.email 'bot@sentinel.ai'
          git add data/
          git commit -m "Auto-update: New snapshot collected" || exit 0
          git push
